/* === Style global de la page === */
body {
  font-family: system-ui, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding: 2rem;
}

/* === Titres === */
h1 {
	text-align : center;
}

/* === Liens === */
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* === Blocs de code (multi-lignes) === */
pre {

  padding: 1rem;
  overflow-x: auto;
  border-radius: 6px;
  font-family: Menlo, Consolas, monospace;
  margin-bottom: 1.5rem;
}

/* === Lignes de commande dans les blocs <pre><code> === */
pre.command-line {
  position: relative;
  background-color: black;
  color: white;
  padding-left: 2.5rem;
}
pre.command-line::before {
  content: "$";
  position: absolute;
  left: 1rem;
  color: white;
  font-weight: bold;
}



