/* Réinitialisation des marges et paddings */


body {
  font-family: Arial, sans-serif;
}

/* Conteneur principal */
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #333;
  color: white;
}

/* Conteneur du logo et du titre */
#logo-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#logo {
  width: 50px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

/* Style du menu */
#main-menu {
  list-style: none;
  display: flex;
  padding: 0;
  background-color: #333;
  width: 100%;
}

#main-menu > li {
  flex-grow: 1;
  text-align: center;
}

#main-menu li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#main-menu li a:hover {
  background-color: #111;
}

#main-menu li a.active {
  background-color: #04AA6D;
}

/* === Titres === */
h1 {
	text-align : center;
}

/* === Liens === */
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* === Blocs de code (multi-lignes) === */
pre {

  padding: 1rem;
  overflow-x: auto;
  border-radius: 6px;
  font-family: Menlo, Consolas, monospace;
  margin-bottom: 1.5rem;
}

/* === Lignes de commande dans les blocs <pre><code> === */
pre.command-line {
  position: relative;
  background-color: black;
  color: white;
  padding-left: 2.5rem;
}
pre.command-line::before {
  content: "$";
  position: absolute;
  left: 1rem;
  color: white;
  font-weight: bold;
}


